{{define "content"}}
<div class="form">
    <div class="tab-content">
        <div id="login">   
            <h1>New Account</h1>

            <form action="/admin/new-account" method="post">

                <div class="field-wrap">
                    <label>
                        Name<span class="req">*</span>
                    </label>
                    <input type="text" required autocomplete="off" name="name"/>
                </div>

                <button class="button button-block" type="submit"/>Create account</button>

            </form>
        </div>

    </div><!-- tab-content -->

</div> <!-- /form -->
{{end}}
